In [2]:
#Asignacion de variables
variable_x <- 2
print(variable_x*2)

[1] 4

In [3]:
#Tipos de datos
class(variable_x)

[1] "numeric"

In [4]:
class(variable_x>9)

[1] "logical"

# Vectores

In [11]:
#Almacenan datos de un solo tipo
vector_numerico <- c(1,10,20)
vector_numerico_2 <- c(2,2,2)
vector_numerico + vector_numerico_2

[1]  3 12 22

In [7]:
#Longitud
length(vector_numerico)

[1] 3

In [8]:
#Media
mean(vector_numerico)

[1] 2

In [12]:
#Indexado booleano
which(vector_numerico>=2)
#Regresa los indices de los que satisfacen eso

[1] 2 3

In [14]:
#Entonces si selecciono ellos
vector_numerico[which(vector_numerico>=2)]

[1] 10 20

In [15]:
#También funciona así
vector_numerico[vector_numerico>=2]

[1] 10 20

# Matrices

In [18]:
#Podemos usar una matriz de dos columnas para
#una gráfica de dispersión

#Usamos la función matrix
#Se ingresan por columna
col1<-c(1,2,3,10)
col2<-c(4,5,6,10)
col3<-c(7,8,9,10)
M <- matrix(c(col1,col2,col3),nrow = 4,ncol=3)
M

     [,1] [,2] [,3]
[1,]  1    4    7
[2,]  2    5    8
[3,]  3    6    9
[4,] 10   10   10

In [30]:
#Agregamos nombres
colnames(M)<-c('Columna1','Columna2','Columna3')
rownames(M)<-c('Ob2','Ob3','Ob4','Ob5')
M
#La verdad no sé que tan usual es hacer esto

    Columna1 Columna2 Columna3
Ob2  1        4        7
Ob3  2        5        8
Ob4  3        6        9
Ob5 10       10       10

In [40]:
dim(M)
#Me da las dimensiones de la matriz

[1] 4 3

In [24]:
#Se puede hacer las operaciones usuales que
#Se te ocurren, elemento a elemento
#A esas se añaden la multiplicacion de matrices
# M%*%P
#Exponencial de una matriz etc

    Columna1     Columna2    Columna3
Ob1     2.718282    54.59815  1096.633
Ob1     7.389056   148.41316  2980.958
Ob1    20.085537   403.42879  8103.084
Ob1 22026.465795 22026.46579 22026.466

In [27]:
#Practicamos la transpuesta de una matriz y el prod
t(M)%*%M

         Columna1 Columna2 Columna3
Columna1 114      132      150
Columna2 132      177      222
Columna3 150      222      294

In [31]:
#Volvemos a observar a M
M

    Columna1 Columna2 Columna3
Ob2  1        4        7
Ob3  2        5        8
Ob4  3        6        9
Ob5 10       10       10

In [32]:
#Seleccionamos el primer renglon
M[1,]

Columna1 Columna2 Columna3
       1        4        7

In [33]:
#Seleccionamos la segunda columna
M[,2]

Ob2 Ob3 Ob4 Ob5
  4   5   6  10

In [44]:
#Seleccionamos un rango de observaciones
M[2:4,]

    Columna1 Columna2 Columna3
Ob3  2        5        8
Ob4  3        6        9
Ob5 10       10       10

In [45]:
#Seleccionamos ciertas columnas
M[2:4,c('Columna1','Columna3')]

    Columna1 Columna3
Ob3  2        8
Ob4  3        9
Ob5 10       10

In [49]:
#Indexado booleano
#Imagina que queremos un subdataframe
#De las observaciones cuya columna 1 sea mayor o igual a 3
M[M[,1]>=3,]

    Columna1 Columna2 Columna3
Ob4  3        6        9
Ob5 10       10       10

In [46]:
#Podemos crear una matriz de ceros
matrix(0,4,3)

     [,1] [,2] [,3]
[1,] 0    0    0
[2,] 0    0    0
[3,] 0    0    0
[4,] 0    0    0

In [48]:
#Un vector de ceros
numeric(3)

[1] 0 0 0

In [ ]:
#Se puede sacar covarianza entre columnas, correlacion

In [50]:
#Podemos sacar suma por columnas, media
colSums(M)

Columna1 Columna2 Columna3
      16       25       34

In [51]:
#Media
colMeans(M)

Columna1 Columna2 Columna3
    4.00     6.25     8.50

# Sistemas Lineales