In [ ]:
#Creacion de dataframes con vectores

In [2]:
nombre <- c("Shrek", "Shrek 2", "Shrek Tercero", "Shrek: Felices por siempre")
puntuacion <- c(7.9, 7.2, 6.1, 6.3)
posterior_2005 <- c(FALSE, FALSE, TRUE, TRUE)

In [7]:
df <- data.frame(nombre,puntuacion,posterior_2005)
head(df)

  nombre                     puntuacion posterior_2005
1 Shrek                      7.9        FALSE
2 Shrek 2                    7.2        FALSE
3 Shrek Tercero              6.1         TRUE
4 Shrek: Felices por siempre 6.3         TRUE

In [8]:
names(df) <-c("Nombre","Score","Posterior 2005")
head(df)

  Nombre                     Score Posterior 2005
1 Shrek                      7.9   FALSE
2 Shrek 2                    7.2   FALSE
3 Shrek Tercero              6.1    TRUE
4 Shrek: Felices por siempre 6.3    TRUE

In [10]:
#La seleccion de elementos es similar
df[1:2,"Nombre"]

[1] Shrek   Shrek 2
Levels: Shrek Shrek 2 Shrek Tercero Shrek: Felices por siempre

In [19]:
#Booleano
#Por ejemplo dame el nombre de las peliculas que
#salieron antes de 2005
df[which(df["Posterior 2005"]==TRUE),"Nombre"]

[1] Shrek Tercero              Shrek: Felices por siempre
Levels: Shrek Shrek 2 Shrek Tercero Shrek: Felices por siempre

In [26]:
#Se pueden pasar varios pasando un vector, ya sea
#De numeros o letras.

#Ordenar DataFrame
df_ordenado <- df[order(df$Score),]
head(df_ordenado)
#Para que sea en orden contrario agregar en order
#el parametro decreasing = True o a esa lista aplicarle
#un rev

  Nombre                     Score Posterior 2005
3 Shrek Tercero              6.1    TRUE
4 Shrek: Felices por siempre 6.3    TRUE
2 Shrek 2                    7.2   FALSE
1 Shrek                      7.9   FALSE

In [27]:
#Order y la columna me regresa el orden correcto
#De las observaciones, entonces al indexar por ellos
#Se indexa en ese orden
order(df$Score)

[1] 3 4 2 1

In [30]:
desc(df)

ERROR: Error in desc(df): no se pudo encontrar la función "desc"

In [ ]:
#np.where equivalente en R
np.where(b > 0, a, a+1)
ifelse(b > 0, a, a+1)

In [34]:
library(dplyr)
#Ver que se puede hacer en este paquete para describe y así

1