In [1]:
#Obtenemos el directorio de trabajo
getwd()

[1] "C:/Users/itzam/Desktop/ITAM/CursoR"

In [3]:
#Lo cambiamos
setwd("C:\\Users\\itzam\\Desktop\\ITAM\\PythonML\\python-ml-course-master\\datasets\\ads")

In [5]:
mi_archivo <- read.csv('Advertising.csv',header = TRUE,sep = ',',stringsAsFactors=FALSE)
#Header le digo si el archivo contiene o no el nombre de las columnas
#Indico el separador

In [7]:
head(mi_archivo,2)

  TV    Radio Newspaper Sales
1 230.1 37.8  69.2      22.1
2  44.5 39.3  45.1      10.4

In [9]:
#file.choose()
#Esta muy buena
file.choose()
#Se abre una ventana y me dice la dirección

[1] "C:\\Users\\itzam\\Desktop\\ITAM\\PythonML\\python-ml-course-master\\datasets\\ads\\Advertising.csv"

# Leer XLS

In [10]:
install.packages('readxl')

package 'readxl' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\itzam\AppData\Local\Temp\RtmpIPlrpi\downloaded_packages

In [11]:
library(readxl)

Warning message:
"package 'readxl' was built under R version 3.6.3"

In [13]:
setwd("C:\\Users\\itzam\\Desktop\\ITAM\\PythonML\\python-ml-course-master\\datasets")

In [14]:
excel_sheets("gapminder_importar_a_r.xlsx")

[1] "Hoja1" "Hoja2" "Hoja3"

In [16]:
#Suponemos que los datos están en la primer hoja
#Y empiezan en la celda a1
df1 <-read_excel("gapminder_importar_a_r.xlsx")
head(df1)

  pais      anio esperanza_de_vida poblacion
1 Argentina 2007 75.320             40301927
2 Brasil    2007 72.390            190010647
3 Chile     2007 78.553             16284741
4 Colombia  2007 72.889             44227550
5 Ecuador   2007 74.994             13755680
6 Mexico    2007 76.195            108700891

In [23]:
#Si le tengo que indicar la hoja
df2 <-read_excel("gapminder_importar_a_r.xlsx",sheet = 'Hoja3',
                range = 'c7:f17')
#el rango son las esquinas superior izquierda 
#e ingerior derecha
#Le digo el nombre de la hoja
head(df2)

  pais      anio esperanza_de_vida poblacion
1 Argentina 2007 75.320             40301927
2 Brasil    2007 72.390            190010647
3 Chile     2007 78.553             16284741
4 Colombia  2007 72.889             44227550
5 Ecuador   2007 74.994             13755680
6 Mexico    2007 76.195            108700891

In [21]:
#Como leer un archivo desde un repositorio

#urlfile<-'https://raw.github.com/ItzamaDG/CursoR/blob/main/Advertising.csv'
#dsin<-read.csv(url(urlfile))

library(readr)
data <- read_csv("https://raw.githubusercontent.com/ItzamaDG/CursoR/main/Advertising.csv")

Parsed with column specification:
cols(
  TV = col_double(),
  Radio = col_double(),
  Newspaper = col_double(),
  Sales = col_double()
)

In [23]:
head(data)

  TV    Radio Newspaper Sales
1 230.1 37.8  69.2      22.1
2  44.5 39.3  45.1      10.4
3  17.2 45.9  69.3       9.3
4 151.5 41.3  58.5      18.5
5 180.8 10.8  58.4      12.9
6   8.7 48.9  75.0       7.2